Social_mediaApp_2/backend/node_modules/
Social_mediaApp_2/client/node_modules/

Social_mediaApp_2/backend/.env
Social_mediaApp_2/client/.env

Social_mediaApp_2/backend/dist/
Social_mediaApp_2/client/build/

Social_mediaApp_2/backend/logs/
Social_mediaApp_2/client/logs/
*.log

terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

Social_mediaApp_2/backend/.dockerignore
Social_mediaApp_2/client/.dockerignore
